#WorldCup_Map {
	left: 275px;
 	right: 100px; 
	/*height: 400px
	width: 300px;*/
}
#WorldCup_Bar {
	left: 225px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
#WorldCup_bubble {
	left: 205px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}



body{
    font-family: 'Source Sans Pro', sans-serif;
}
