#WorldCup_Map {
	left: 200px;
 	right: 200px; 
	/*height: 400px
	width: 300px;*/
}
#WorldCup_Bar {
	left: 200px;
	right: 200px;
	/*height: 1000px;
	width: 800px;*/
}
#WorldCup_Bubble {
	left: 200px;
	right: 200px;
	/*height: 1000px;
	width: 800px;*/
}



body{
    font-family: 'Source Sans Pro', sans-serif;
}
